body{
    padding:0;
    margin:0;
    background-color:white;
    font-family: 'Raleway', sans-serif;
}
.greeting_bar{
    width:100em;
    height:3em;
  background-color: black;
}
.text_box{
    width:10em;
    height:4em;
    color:black;
    font-size: 4em;
    margin-left:2em;
    margin-top:3em;
}
.mini_bar{
    width:2em;
    height:.3em;
    background-color: black;
    margin-left:8.3em;
    margin-top:-17em;
    margin-bottom:20em;
}
.large_black_box1{
    width:80em;
    height:50em;
    background-color: black;
    color: white;
    margin: auto;
    margin-top:-5em;
    text-align: right;
}
.info{
    width: 50%;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}
.graphic_design{
    margin-top:-40em;
    margin-bottom:10em;
    color:white;
    margin-left:75em;
    font-size:1em;
}
.mini_bar2{
    width:2em;
    height:.3em;
    background-color:white;
    margin-left:81.3em;
    margin-top:-11.5em;
}
.photo{
    margin-top:12em;
    margin-bottom:10em;
    color:white;
    margin-left:75.6em;
    font-size:1em; 
}
.mini_bar3{
    width:2em;
    height:.3em;
    background-color:white;
    margin-left:81em;
    margin-top:-11.5em;
}
.web_design{
    margin-top:12em;
    margin-bottom:10em;
    color:white;
    margin-left:76.5em;
    font-size:1em; 
}
.mini_bar4{
    width:2em;
    height:.3em;
    background-color:white;
    margin-left:80.5em;
    margin-top:-11.5em; 
}
.about_moi{
    margin-top:12em;
    margin-bottom:10em;
    color:white;
    margin-left:76.5em;
    font-size:1em; 
}
.mini_bar5{
    width:2em;
    height:.3em;
    background-color:white;
    margin-left:80.1em;
    margin-top:-11.5em; 
}
a{
    color: white;
    text-decoration:none;

}
a:hover{
    color:#F4CE13;
}
.aboutmoi_greeting{
    width:100em;
    height:3em;
  background-color: black;
}
.aboutmoi_mini_bar{
    width:2em;
    height:.3em;
    background-color: black;
    margin-left:1.9em;
    margin-top:3em;
}
.aboutmoi_hello_textbox{
    width:10em;
    height:4em;
    color:#F4CE13;
    font-size: 4em;
    margin-left:.4em;
    margin-top:-1em;
}
.aboutmoi_black_box{
    width:30em;
    height:30em;
    background-color: black;
    color:white;
    margin-left:58em;
    margin-top:-5em;
    text-align:right;
}
.aboutmoi_info{
    width:70%;
    float:right;
    padding-right: 20px;
    padding-top: 50px;
    font-size:12px;
}
.aboutmoi_resume{
    width:70%;
    float:right;
    padding-right: 20px;
    padding-top: 30px;
    font-size:15px;
}
.aboutmoi_contact{
    width:70%;
    float:right;
    padding-right: 20px;
    padding-top: 30px;
    font-size:10px;
    margin-top:-40px;
}
.aboutmoi_mini_bar2{
    background-color:white;
    width:1em;
    height:.3em;
    margin-left:95%;
    margin-top:-430px;
}
.aboutmoi_mini_bar3{
    background-color:white;
    width:1em;
    height:.3em;
    margin-left:95%;
    margin-top:165px;
}
.webgreeting_bar{
    width:100em;
    height:3em;
    background-color: black;
}
.webmini_bar1{
    width:2em;
    height:.3em;
    background-color: black;
    margin-top:80px;
    margin-left:26px;
}
.webdesign_textbox{
    width:10em;
    height:4em;
    color:black;
    font-size: 4em;
    margin-left:.4em;
    margin-top: -1em;
}
.webmini_bar2{
    width:2em;
    height:.3em;
    background-color:pink;
    margin-top:80px;
    margin-left:80em;
}
.webmini_bar3{
    width:2em;
    height:.3em;
    background-color:pink;
    margin-top:80px;
    margin-left:80em;
}
.webmini_bar4{
    width:2em;
    height:.3em;
    background-color:pink;
    margin-top:80px;
    margin-left:50%;
    float: right;
}
.webbigblack_box{
    width:87em;
    height:50em;
    background-color: black;
    color:white;
    margin:auto;
    margin-top:-20em;
    text-align:right;
} 
.web_title1{
    color:white;
    font-size:1em;
    margin-top:30px;
    padding-top:70px;
    padding-right:20px;
}
.web_desc1{
    color:white;
    font-size:10px;
    float:right;
    margin-top:-185px;
    margin-right:-72.6em;
    padding-right:16px;
    width:37em;
    height:4em;
}
.web_title2{
    color:white;
    font-size:1em;
    padding-top:70px;
    padding-right:20px;
    margin-left:30px;
    margin-bottom:0px;
    margin-top:10em;
    padding-bottom:0px;
}
.web_desc2{
    color:white;
    font-size:10px;
    float:right; 
    margin-top:0px;
    margin-right:-72em;
    padding-right:16px;
    padding-top:90px;
    width:31em;
    height:4em;
    
}
.web_title3{
    color:white;
    font-size:1em;
    margin-top:30px;
    padding-top:250px;
    padding-right:20px;
    margin-bottom:0px;
}
.web_desc3{
    color:white;
    font-size:10px;
    float:right;
    margin-top:0px;
    margin-right:-72em;
    padding-right:16px;
    width:31em;
    height:4em;
}
